/**
 * Styles for IS-LM-BP
 * 04/2016
 */

/* Common & elements styles */
body{ 
	background: #eeeeee; 
}
.block-center{
	float: none !important;
	margin: 0 auto;
}
.build-graph-block{
	margin-top: 15px;
	margin-bottom: 5px;
}
.section-collapse-btn{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	line-height: 50px;
	display: block;
	font-size: 29px;
	text-align: center;
	color: rgba(255, 255, 255, 0.95);
}
.section-collapse-btn:hover,
.section-collapse-btn:active,
.section-collapse-btn:focus,
.section-collapse-btn:visited{
	color: rgba(255, 255, 255, 0.95);
}


/* Header styles */
/*-----------------------------------------------------------*/
.site-header{
	position: fixed;
	top: 0;
	height: 160px;
	width: 100%;
	background: #414cb7;
}
.site-header .top-line{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 32px;
	background: #3239a1;
}
.add-change{
	position: absolute;
	top: 122px;
	left: 50%;
	margin-left: 550px;
}


/* Section styles */
/*-----------------------------------------------------------*/
.site-section{
	position: relative;
	width: 980px;
	margin: 0 auto;
	margin-bottom: 50px;
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
	padding: 25px 20px;
}
.site-section.header-over{
	margin-top: 60px;
}
.site-section.bg-material{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/bg.png);
}

.section-title{
	font-family: "Roboto", sans-serif;
	font-size: 36px;
	color: #fff;
	color: rgba(255, 255, 255, 0.95);
	font-weight: 400;
	text-transform: none;
}