/**
 * Styles for IS-LM-BP
 * 04/2016
 */

/* Common & elements styles */
body{ 
	background: #eeeeee; 
}
.block-center{
	float: none !important;
	margin: 0 auto;
}
.build-graph-block{
	margin-top: 15px;
	margin-bottom: 5px;
}
section.fullscreen {
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 9999 !important;
  margin: 0 !important;
  padding: 15px !important;
  border-radius: 0 !important; 
}

/* Buttons */
.section-collapse-btn,
.section-action-btn{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	line-height: 50px;
	display: block;
	font-size: 29px;
	text-align: center;
	color: rgba(255, 255, 255, 0.95);
}
.section-collapse-btn i,
.section-action-btn i{
	font-size: 36px;
	line-height: 50px;
}
.section-collapse-btn:hover,
.section-collapse-btn:active,
.section-collapse-btn:focus,
.section-collapse-btn:visited{
	color: rgba(255, 255, 255, 0.95);
}

.section-action-btn{
	margin: 0 6px;
	color: #333;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	line-height: 40px;
	display: block;
	font-size: 29px;
	text-align: center;
	cursor: pointer;
}
.section-action-btn i{
	font-size: 32px;
	line-height: 40px;
}
.section-action-btn:hover,
.section-action-btn:active,
.section-action-btn:focus,
.section-action-btn:visited{
	color: #333;
}


.graph-demo{
	position: relative;
	height: 300px;
}
.graph-demo::after{
	position: absolute;
	display: block;
	content: "";
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	background-color: teal;
}

.column{ min-height: 2px; }


/* Header styles */
/*-----------------------------------------------------------*/
.site-header{
	position: fixed;
	top: 0;
	height: 160px;
	width: 100%;
	background: #414cb7;
}
.site-header .top-line{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 32px;
	background: #3239a1;
}
.add-change{
	position: absolute;
	top: 122px;
	left: 50%;
	margin-left: 550px;
}


/* Section styles */
/*-----------------------------------------------------------*/
.site-section{
	position: relative;
	width: 980px;
	margin: 0 auto;
	margin-bottom: 50px;
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
	padding: 25px 20px;
	background-color: #fff;
}
.site-section.header-over{
	margin-top: 60px;
}
.site-section.bg-material{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/bg.png);
}

.section-title{
	font-family: "Roboto", sans-serif;
	font-size: 32px;
	font-weight: 400;
	text-transform: none;
}
.site-section.bg-material .section-title{
	color: rgba(255, 255, 255, 0.95);
}
.site-section.header-over .section-title{
	font-size: 36px;
}



/* History panel styles */
/*-----------------------------------------------------------*/
.ui-sortable{
	position: relative;
}
.panel-history{
	margin-bottom: 10px;
}
.panel-history .panel-sort-toggle{
	margin-right: 11px;
	font-size: 16px;
	float: left;
	cursor: pointer;
}
.panel-history .panel-title{
	display: inline-block;
}
.panel-history .panel-heading{
	position: relative;
	box-sizing: border-box;
}
.panel-history .panel-control{
	position: absolute;
	right: 0;
	top: 0;
	height: 42px;
	display: table;
	box-sizing: border-box;
}
.panel-history .action-delete,
.panel-history .action-add{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 36px;
	font-size: 20px;
}
.panel-history .action-delete{ color: #F44336;  }
.panel-history .action-add{ color: #03A9F4;  }